<%- include('./partials/header') %>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/dashboard">Games</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/leaderboard">Leaderboard</a>
        </li>
            <form class="form-inline ml-auto " action="/games" method="get">
                <input id="refresh" type="submit" value="Refresh" class="btn btn-outline-success">
            </form>
        </ul>
    </div>
    <div class="card-body">
        <div class="card-columns">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">New Game</h5>
                    <a href="/games/new"><i class="fas fa-plus fa-5x"></i></a>
                </div>
            </div>
            <% for(let game of publicGames){ %>
                <div class="card game">
                    <div class="card-body text-center">
                        <h5 class="card-title"><%= game.game_type.toUpperCase() %></h5>
                        <a href="/games/<%= game.room_id %>"><i class="fas fa-th fa-5x"></i></a>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</div>

<div class="card mt-4">
  <div id="chatroom" class="card-body">
  </div>
  <div class="card-footer">
    <section id="input-zone" class="d-flex"> 
      <input id="message" class="form-control" type="text" />
      <button id="send-message" class="btn btn-primary ml-2" type="button">Send</button>
    </section>
  </div>
</div>

<script src="/js/dashboard.js"></script>
<%- include('./partials/footer') %>
