<%- include('./partials/header') %>

<div class="card text-center bg-dark text-white mt-5 shadow-lg">
    <div class="card-header">Sterm</div>
    <div class="card-body p-5">
        <a href="/users/signin" class="btn btn-light btn-lg btn-block">Sign In</a>
        <br>
        <a href="/users/signup" class="btn btn-light btn-lg mt-4 btn-block">Sign Up</a>
    </div>
</div>

<%- include('./partials/footer') %>