<%- include('./partials/header') %>

<div class="card text-center bg-light text-dark mt-5 shadow-lg">
    <div class="card-header">Sterm</div>
    <div class="card-body p-5">
        <a href="/sessions/new" class="btn btn-dark btn-lg btn-block">Sign In</a>
        <br>
        <a href="/users/new" class="btn btn-dark btn-lg mt-4 btn-block">Sign Up</a>
    </div>
</div>

<%- include('./partials/footer') %>