#game {
    max-width: 540px;
    width: 50vh;
    height: 50vh;
    margin: 0 auto;
}

.square {
    box-sizing: border-box;
    background-color: lightgray;
    border: 2px solid black;
    width: calc(100% / 3);
    height: calc(100% / 3);
    text-align: center;
    font-size: 1.1rem;
    transition: 350ms;
}

.square:hover {
    background-color: whitesmoke;
}

.square:nth-of-type(1) {
    border-top-left-radius: 10%;
}

.square:nth-of-type(3) {
    border-top-right-radius: 10%;
}

.square:nth-of-type(7) {
    border-bottom-left-radius: 10%;
}

.square:nth-of-type(9) {
    border-bottom-right-radius: 10%;
}

#chatroom {
    /* overflow-y: scroll; */
    height: 200px;
    overflow: auto;
}

.message {
    margin: 0;
    height: 30px;
    font-size: 1.1rem;
}

.privateMessage {
    margin: 0;
    height: 30px;
    font-size: 1.1rem;
    color: purple;
}

.pmAuthor {
    font-weight: bold;
}

.pmAuthor:hover {
    text-decoration: underline;
    cursor: pointer;
}

.message:nth-child(even) {
    background-color: whitesmoke;
}

#feedback {
    text-align: center;
    margin-bottom: 10px;
}

#feedback p {
    margin-bottom: 0;
    font-size: 1.2rem;
}

.currentplayer {
    border: 2px solid black;
    border-radius: 10px;
    background-color: greenyellow;
    width: 200px;
    margin: 0 auto;
}

.winningsquares {
    transform: scale(1.1);
    background-color: greenyellow;
    border-radius: 10%;
}

#timer p {
    font-size: 1.7rem;
}

#dropZone {
    width: 100%;
    margin: 0 auto;
}

.crow {
    width: 100%;
}

.csquare {
    box-sizing: border-box;
    background-color: lightgray;
    border: 2px solid black;
    width: calc(100% / 7);
    height: 70px;
    text-align: center;
    font-size: 1.1rem;
}

.dropChoice {
    box-sizing: border-box;
    width: calc(100% / 7);
    height: 65px;
}

.dropChoice i {
    visibility: hidden;
}

.dropChoice:hover i {
    visibility: visible;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.c4wins {
    background-color: greenyellow;
}

.user:hover {
    text-decoration: underline;
    cursor: pointer;
}