#game {
    width: 50vh;
    height: 50vh;
    margin: 0 auto;
}

.square {
    box-sizing: border-box;
    background-color: lightgray;
    border: 2px solid black;
    width: calc(100% / 3);
    height: calc(100% / 3);
    text-align: center;
    font-size: 1.1rem;
}

.square:hover {
    background-color: whitesmoke;
}

#chatroom {
    overflow-y: scroll;
    height: 200px;
}

.message {
    margin: 0;
    height: 30px;
    font-size: 1.1rem;
}

.message:nth-child(even) {
    background-color: whitesmoke;
}

#feedback {
    text-align: center;
}