<%- include('../partials/header') %>

<div class="card">
    <div class="card-body">
        <h1>Choose Game</h1>
        <div class="card">
        <div class="card-body text-center">
            <h5 class="card-title">Tic-Tac-Toe</h5>
            <form action="/games" method="post">
                <input type="hidden" name="game" value="tictactoe">
                <button type="submit"><i class="fas fa-th fa-5x"></i></button>
            </form>
        </div>
    </div>
    </div>
</div>

<%- include('../partials/footer') %>
