<%- include('../partials/header') %>

<div class="modal fade" id="waiting" tabindex="-1" role="dialog" aria-labelledby="waitingTitle" aria-hidden="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="waitingTitle">Waiting for player two..</h5>
      </div>
      <div class="modal-body">
        <button class="btn btn-block btn-outline-primary p-4">Make Public?</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-warning" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="victory" tabindex="-1" role="dialog" aria-labelledby="victoryTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button id="reset-game" type="button" class="btn btn-warning" data-dismiss="modal">Reset Game</button>
      </div>
    </div>
  </div>
</div>

<div class="feedback"><p></p></div>
<div class="row" id="game"></div>

<div class="card mt-4">
  <div id="chatroom" class="card-body" style="min-height: 200px;">
  </div>
  <div class="card-footer">
    <section id="input-zone" class="d-flex"> 
      <input id="message" class="form-control" type="text" />
      <button id="send-message" class="btn btn-primary ml-2" type="button">Send</button>
    </section>
  </div>
</div>

<script src="/js/tictactoe.js"></script>

<%- include('../partials/footer') %>
