<%- include('../partials/header') %>

<div class="modal fade" id="waiting" tabindex="-1" role="dialog" aria-labelledby="waitingTitle" aria-hidden="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="waitingTitle">Waiting for player two..</h5>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input id="roomLink" type="text" class="form-control" value="localhost:3000/games/<%= room_id %>" readonly>
          <div class="input-group-append">
            <button id="shareLink" class="btn btn-outline-secondary" type="button" data-toggle="popover" data-placement="top" data-content="Link copied!">Copy</button>
          </div>
        </div>
        <button id="makePublic" class="btn btn-block btn-outline-primary p-4">Make Public?</button>
      </div>
      <div class="modal-footer">
        <a class="btn btn-outline-warning" href="/dashboard">Cancel Game</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="victory" tabindex="-1" role="dialog" aria-labelledby="victoryTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h1>You win!</h1>
      </div>
      <div class="modal-footer">
        <a class="btn btn-outline-warning" href="/dashboard">Leave Game</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="loss" tabindex="-1" role="dialog" aria-labelledby="lossTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h1>You lose!</h1>
      </div>
      <div class="modal-footer">
        <a class="btn btn-outline-warning" href="/dashboard">Leave Game</a>
      </div>
    </div>
  </div>
</div>

<div id="feedback"></div>
<div class="row" id="game"></div>

<div class="card mt-4">
  <div id="chatroom" class="card-body">
  </div>
  <div class="card-footer">
    <section id="input-zone" class="d-flex"> 
      <input id="message" class="form-control" type="text" />
      <button id="send-message" class="btn btn-primary ml-2" type="button">Send</button>
    </section>
  </div>
</div>

<script src="/js/tictactoe.js"></script>

<%- include('../partials/footer') %>
