<%- include('../partials/header') %>

<div class="card text-center bg-dark text-white mt-5 shadow-lg">
    <div class="card-header">Sign Up</div>
    <div class="card-body">

        <form action="/users" method="POST">
            <div class="form-group">
                <label for="username">Username:</label> <br>
                <input class="form-control" id="username" name="username" type="text">
            </div>

            <div class="form-group">
                <label for="email">Email:</label> <br>
                <input class="form-control" id="email" name="email" type="email">
            </div>

            <div class="form-group">
                <label for="password">Password:</label> <br>
                <input class="form-control" id="password" name="password" type="password">
            </div>

            <div class="form-group">
                <label for="password">Password Confirmation:</label> <br>
                <input class="form-control" id="password_confirmation" name="password_confirmation" type="password">
            </div>

            <input type="submit" value="Sign Up" class="btn btn-success btn-block">
        </form>
        <a class="btn btn-outline-warning btn-block mt-4" href="/">Go Back</a>
    </div>
</div>

<%- include('../partials/footer') %>
